{
  // 末尾逗号警告跟踪这个 issue
  // https://github.com/prettier/prettier/issues/15956
  // 目前默认为 jsonc 添加末尾逗号，但是 eslint jsonc 末尾逗号会有警告
  "env": {
    "browser": true,
    "es2021": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "@emotion"],
  "rules": {},
}
