{
    "extends": "stylelint-config-standard",
    "rules": {},
    "overrides": [
        {
            "files": [
                "**/*.less"
            ],
            "customSyntax": "postcss-less"
        }
    ]
}